.HomeDayTour{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.HomeDayTour-main{
    width: 1276px;
    height: 662;
    /* background-color: yellow; */


    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}


















.HomeDayTour-carousel-info{
    background-color: rgb(255, 255, 255);
    width: 618px;
    height: 662px;
    box-shadow: -7px -9px 16px 0px rgba(29, 29, 31, 0.1);
    padding: 20px 50px 20px 100px;

}
.HomeDayTour-carousel-info-h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}


.HomeDayTour-carousel-info-p1{
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    transition: 1s;
    /* background-color: aqua; */
    max-width: 340px;
    overflow: hidden;
}


.home-daytour-reacd-more{
    position: absolute;
    margin-top: 140px;
    margin-left: -15px;
    font-size: 15px;
    font-weight: 500;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
}

.start-animation {
    animation: slide-up 1s ease-in-out;
  }
  
@keyframes slide-up {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}






.HomeDayTour-carousel-info-p2{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    transition: 1s;
    /* background-color: aqua; */
    height: 200px;
    overflow: hidden;
}
.HomeDayTour-carousel-info-price-div{
    display: flex;

}
.HomeDayTour-carousel-price-p, .HomeDayTour-carousel-price{
    font-size: 26px;
    font-weight: 600;
}
.home-daytour-reacd-more-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.HomeDayTour-carousel-readmore{
    font-size: 15px;
    font-weight: 500;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    transition: 1s;
   
}

.HomeDayTour-arrow-right{
    width: 48px;
    height: 48px;

}
.HomeDayTour-carousel-forward-btn{
    width: 48px;
    height: 48px;
    background-color:transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 300px;
    margin-left: 650px;
    border: none;

}
.HomeDayTour-arrow-left{
    width: 48px;
    height: 48px;

}
.HomeDayTour-carousel-backward-btn{
    width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-left: -650px;
    margin-top:300px;
    border: none;
    
}


.DayTourCarousel-img{
    width: 658px;
    height: 602px;
}