.homecarousel-main-div{
    background-image:url("./textur_1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 70px 0px;
    margin: 50px 1px;


   
}
.homecarousel{


    padding: 0px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: yellowgreen; */

}
.homecarousel-main{
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: end;
    width: 1550px;

    overflow: hidden;
    position: relative;
}

.containerProps{
    width: 40%;
}

.active-div{
    background-color: rgb(255, 255, 255);
    height: 650px;


    position: relative;
    top: 0px;
    margin-right: -830px;
    
    /* margin-left: 10%;
    margin-top: 0%; */


    z-index: 1;
    left: 0%;

}
.carousel-div{
    
    width: 100%;
    
    margin-bottom: 50px;
    margin-left: -00px;
    position: absolute;

    
}

.homecarousel-p1{
    width:1075px ;
}