.homecarousel-main-div{
    background-image:url("./textur_1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    margin: 50px 1px;
}
.homecarousel{
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: yellowgreen; */

}
.homecarousel-main{
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: end;
    width: 1850px;
    /* overflow: hidden; */
    position: relative;
    
}

/* .containerProps{
    width: 40%;
    background-color: wheat;
} */

.active-div{
    background-color: rgb(255, 255, 255);
    height: 650px;
    width: 57.2%;
    position: relative;
    top: 0px;
    z-index: 1;
    left: 0%;

}
.active-img{
    /* width: 890px; */
    width: 100%;
    height: 100%;
    /* display: none; */

}

.active-over-div{
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.589);
    margin-top: -300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
    /* display: none; */
    
    
}
.homecarousel-h1{

    color: aliceblue;
}
.homecarousel-p1{
    width:780px ;
    color: aliceblue;
}
.carousel-div{
    
    width: 100%;
    
    margin-bottom: 50px;
    /* margin-left: 150px; */
    position: absolute;

    
}




.forward-btn{
    margin-left: 1300px;
    margin-top: 20px;
}
.arrow-right{
    width: 50px;
    color: transparent;
}
.arrow-left{
    rotate: 180deg;
    width: 50px;
}
.backward-btn{
    position: absolute;
    margin-left: 1200px;
    z-index: 1;
    top: 350px;
   
}














