.daytour-book-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daytour-book-2-hero-title{
    margin-top: 100px;
    font-size: 70px;
    color: aliceblue;
    font-family: Playfair Display;
}
.daytour-book-2-hero-route-div{
    display: flex;
    margin-top: -50px;
    gap: 5px;
}
.daytour-book-2-hero-route-1{
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: poppins;
    text-decoration: none;
}
.active-route{
    color: orange;
    }

.daytour-book-2-hero-social{
    margin-top: 10px;
}




.daytour-book-2-title-sub{
    font-size: 45px;
    font-weight: 400;
    font-family: poppins;
}




.daytour-book-2-sub{
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 80px;
    /* height: 500px; */
}
.daytour-book-2-sub-left{
    /* width: 40%; */
    /* background-color: aquamarine; */

}
.daytour-book-2-sub-left-title{
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
}
.daytour-book-2-sub-left-places-div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: antiquewhite; */
    height: 300px;
    overflow-y: scroll;
    row-gap: 10px;
    padding-right: 20px;
}




.daytour-book-2-sub-right{
    
    /* background-color: yellow; */
}
.daytour-book-2-sub-right-title{
    font-size: 20px;
    font-weight: 600;
    font-family: poppins;
}
.daytour-book-2-sub-right-p{
    font-size: 20px;
    font-weight: 400;
    font-family: poppins;
    margin: 1px auto;
}

.daytour-book-2-sub-right-coupen-div{
    display: flex;
    align-items: center;
}


.daytour-book-2-sub-right-line{
    border-bottom: 1px solid black;
}

.daytour-book-2-sub-right-btn-div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.daytour-book-2-sub-right-btn-1{
    width: 166px;
    height: 40px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.daytour-book-2-sub-right-btn-2{
    width: 202px;
    height: 40px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



















.daytour-book-3-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
.daytour-book-3-sub-title{
   
}
.daytour-book-3-sub-map{
    width: 1195px;
    height: 458px;
}
















.Placecard_{
    background-color: rgb(255, 255, 255);
    width: 356px;
    min-height: 76px;
    /* margin: 10px; */
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    -webkit-box-shadow: 5px 1px 20px -5px rgba(0,0,0,0.15);
-moz-box-shadow: 5px 1px 20px -5px rgba(0,0,0,0.15);
box-shadow: 5px 1px 20px -5px rgba(0,0,0,0.15);
}

.Placecard_left{
    background-color: aqua;
    width: 115px;
    height: 100%;
}
.Placecard_img{
    width: 115px;
    height: 100%;
}
.Placecard_right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


