.TourPreview{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.TourPreview-hero{
    background-image: url("http://localhost:8080/images/Tour/heroimg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 424px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.TourPreview-hero-title{
    font-size: 60px;
    font-weight: 500;
    color: white;
    font-family: Playfair Display;
    margin-top: 100px;
}
.TourPreview-hero-route-div{
    display: flex;
}
.TourPreview-hero-route{
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
    color: white;
    text-decoration: none;
}
.TourPreview-hero_route{
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
    color: orange;
    text-decoration: none;
}
.TourPreview-hero-media-div{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.TourPreview-hero-media{
    display: flex;
    align-items: center;
    gap: 5px;
}
.TourPreview-hero-media-link{
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-family: poppins;
}







.TourPreview-header{
    display: flex;

    width: 1200px;
    justify-content: center;
    margin: 30px auto;
}
.TourPreview-header-left{
    /* background-color: aqua; */
    width: 389px;
    
    padding: 20px 5px;
   
}
.TourPreview-header-left-1{
    display: flex;
    gap: 20px;
}
.TourPreview-header-left-p{
    font-size: 20px;
    font-weight: 400;
}
.TourPreview-header-left-coupen{
    display: flex;
    align-items: center;
    
}
.couponcode-p{
    color: orange;
}
.TourPreview-header-left-input{
    width: 120px;
    height: 30px;
    border: 3px solid orange;
    border-radius: 10px;
}
.TourPreview-header-left-btn{
    background-color: orange;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 10px
}
.TourPreview-header-left-line{
    border-bottom: 2px solid rgba(0, 0, 0, 0.245);
    width: 98%;
    margin: 5px auto;
    margin-bottom: 25px;
}
.TourPreview-header-book-btn{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    position: absolute;
    margin: 5px auto;
    
}



.TourPreview-header-info{
    display: flex;
    gap: 20px;
    height: 10px;
    align-items: center;
}
.TourPreview-header-info-p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(106, 106, 106);
}







.TourPreview-header-right{
    /* background-color: bisque; */
    height: 320px;
    width: 792px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TourPreview-header-right-carousel{
    width: 776px;
    height: 100%;
    
}

/* pop up */
.tourpreview-popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.67);
    position: fixed;
    top: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tourpreview-popup-main{
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.tourpreview-popup-title{
    font-size: 24px;
    font-weight: 400;
    font-family: poppins;
}
.tourpreview-popup-form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.tourpreview-popup-form-label{
    font-size: 20px;
    font-weight: 400;
    font-family: poppins;
}
.tourpreview-popup-form-input{
    width: 475px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.498);
}
.tourpreview-popup-btn-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tourpreview-popup-enter-btn{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.tourpreview-popup-cancel-btn{
    background-color: rgb(10, 21, 108);
    padding: 10px 30px;
    border-radius: 10px;
    color: aliceblue;
}










.TourPreview-center-line{
    border-bottom: 2px solid rgba(99, 99, 99, 0.834);
    width: 1200px;
    margin: 50px auto;
}
.TourPreview-center-description{
    text-align: center;
    margin: 10px 50px 50px 50px;
    width: 1200px;
}





.TourPreview-center{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 400px;
}
.TourPreview-center-left{
    width: 550px;
    height: 409px;
    background-color: aqua;
}
.TourPreview-center-right{
    width: 606px;
    height: 411px;
    /* background-color: rgb(175, 226, 226); */
    height: 400px;
    overflow-y: scroll;
}
.TourPreview-center-right-day-main-p{
    font-size: 20px;
    font-weight:400 ;
    font-family: poppins;
}




.TourPreview-center-right-day{
    border-bottom: 2px solid rgba(49, 49, 49, 0.53);
    

}
.TourPreview-center-right-day-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.TourPreview-center-right-expand-div{
    width: 100%;
    /* background-color: yellow; */
    /* height: 100px; */
}
.close{
    display: none;
}

.TourPreview-expand-p1{
    font-size: 16px;

}
.TourPreview-expand-place-p1{

}












.TourPreview_bottom-div{

}
.TourPreview_bottom-btn-div{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 1200px;
    margin: 50px auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TourPreview_bottom-btn{
    background-color: rgb(0, 0, 102);
    padding: 7px 15px;
    border-radius: 25px;
    border: none;
    margin: 10px auto;
    color: aliceblue;
}
.TourPreview_bottom-info-div{
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 30px;

}



.TourPreview-bottom-1{
    display: flex;
}
.TourPreview-bottom-1-left{
    /* background-color: aquamarine; */

    width: 50%;
}
.TourPreview-bottom-1-right{
    /* background-color: rgb(68, 238, 181); */

    width: 50%;
}


.TourPreview-bottom-2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.TourPreview-bottom-2-map{
    width: 90%;
    height: 400px;
    background-color: yellowgreen;
}




.TourPreview-bottom-3{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    width: 1200px;
}






.deactive{
    background-color: rgb(255, 255, 255);
    padding: 7px 15px;
    border-radius: 25px;
    border: none;
    margin: 10px auto;
    color: rgb(0, 0, 0);
}