
.placecard{
    background-color: aqua;
    width:299px;
    height: 392px;
    display: flex;
    flex-direction: column-reverse;
   
}
.placecard-bottom-div{
    position: absolute;
    background-color: #1d1d1fce;
    height: 100px;
    width: 299px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placecard-header{
    font-size: 25px;
    font-weight: 800;
    color: aliceblue;
    font-family: poppins;
    width: 280px;
    /* height: 70px; */
    text-align: center;
    overflow: hidden;
    /* background-color: aqua; */
}
.place_img{
    /* width: auto; */
    height: 100%;
}