

.tourCategory{
    background-color: aqua;
    display: flex;
    justify-content: center
}
.tourcategory-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tourcategory-line{
    border-bottom: 2px solid black;
    width: 800px;
}
.tourcategory-form{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}