.placeReview__container-main{
    /* background-color: yellowgreen; */
    width: 100vw;
    display: flex;
    
    justify-content: center;
    
}
.placeReview{
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.plecereview-img-div{
    background-color: black;
    &:hover .placeReview__title {
        inset: auto auto -200px 500px;
        transition: inset .4s ease-out;
        color: black;
    
      }
}
.placeReview__img{
    width: 1530px;
    opacity: .5;
    transition: 0.4s;

    &:hover{
        opacity: 1;

        
    }
    
   
    

}


.placeReview__title{
    /* font-size: 100px;
    line-height: 1px;
    font-family: Lato;
    color: azure;
    font-weight: 700; */
    position: absolute;
    inset: auto auto 60px 500px;
    color: aliceblue;
    font-size: 100px;
    line-height: 1px;
    font-family: Lato;
    text-transform: uppercase;
    
}

.placeReview-title-2{
    text-align: center;
    font-size: 40px;
}
.placeReview-text-2{
    text-align: center;
}

.placeReview-title-3{
    text-align: center;
    font-size: 40px;
}
.placeReview-text-3{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 10px;
}


.placeReview-title-4{
    text-align: center;
    font-size: 40px;
}



.placeReview-map-div{
    display: flex;
    justify-content: center;
}
.map-container{
    width: 1400px;
    height: 800px;
}

.placeReview-title-5{
    text-align: center;
    font-size: 40px;
}