.placeReview__container-main{
    /* background-color: yellowgreen; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
.placeReview{
    width: 1540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.plecereview-img-div{
    /* background-color: black; */
    width: 1520px;

}
.placeReview__img{
    width: 100%;
    height: 424px;
    transition: 1s;
}
.placeReview__title-div{
    margin-top: -156px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.placeReview__title{
   position: relative;
    inset: auto auto  80px auto;
    color: aliceblue;
    font-size: 60px;
    font-weight: 900;
    line-height: 1px;
    font-family: Playfair Display;
    text-transform: uppercase;
    text-align: center;

}
.placeReview__routes-div{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    inset: auto auto  90px auto;
}
.placeReview__routes{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
}
.placeReview__routes-active{
    color: orange;
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
}
.placeReview__socialmedia{
    position: relative;
    inset: auto auto  50px auto;


}

.placeReview-title-2{
    
    font-size: 45px;
    font-weight: 500;
    font-family: Poppins;
    
}
.placeReview-text-2{
    width: 1200px;
    font-size: 16px;
    font-weight: 300;
    font-family: Poppins;
    text-align: justify;
}


.placeReview-text-3{

    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    font-family: Poppins;
}



.placceReview-sub-div{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1200px;
    height: 100px;
    /* background-color: aqua; */
}
.placceReview-sub-div-1{
    width: 500px;

}
.placceReview-sub-div-2{
    width: 500px;
    height: 100%;
  
    /* background-color: aqua; */
}
.placceReview-sub-div-2-more{
    background-color: orange;
    
    position: relative;
    right: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 205px;
    height: 50px;
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
}

.placeReview-title-4{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    font-family: poppins;
}



.placeReview-map-div{
    display: flex;
    justify-content: center;
}
.map-container{
    width: 1196px;
    height: 717px;
}

.placeReview-title-5{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    font-family: poppins;
}








.placeReview-crousel-div{
    margin: 20px auto;
}
.place-review-carousel-img-up{
    width: 299px;
    height: 442px;
    padding-bottom: 50px;
}
.place-review-carousel-img-down{
    width: 299px;
    height: 442px;
    padding-top: 50px;
}



.place-reviewg-carousel-forward-img{
    width: 48px;

}
.place-review-carousel-forward-btn{
    position: absolute;
    background-color: transparent;
    border: none;
 

    margin-left: 1170px;
    margin-top: 200px;

}
.place-review-carousel-backward-img{
    width: 48px;

}
.place-review-carousel-backward-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 200px;
    margin-left: -35px;
    z-index: 1;
}

