.card1{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.card2{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
}
.card3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 60);
}
.card4{
    width: 200px;
    height: 200px;
    background-color: rgb(55, 0, 255);
}
.card5{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 234);
    
}

/* .carousel-1-img{
    width: 500px;
    height: 400px;
} */