

.tour-package-main-2{
    background-color: aqua;
    
    height: 500px;
    display: flex;
    margin: 50px;
}
.tour-package-days-div{
    width: 250px;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour-package-place-div{
    width:79%;
    height: 100%;
    background-color: rgb(117, 71, 12);
}
.day-active{
    margin: 5px auto;
    padding: 10px 80px;
    border: 2px solid rgb(255, 6, 6);
    font-size: 20px;
    background-color: rgb(196, 115, 9);
}
.day{
    margin: 5px auto;
    padding: 10px 80px;
    border: 2px solid black;
    font-size: 20px;
}

.day-tour-place-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.place-delete-img{
    width: 25px;
}