.header-text-main{
    width: 100%;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header-text{
    position: relative;
    width: 1200px;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 100px;
  
}
.header-text-child1{
    /* background-color: yellowgreen; */
    
    /* padding: 100px 100px 50px 100px; */
}
.header-text-child2-img{
    width: 400px;

}
.header-text-child2{
    /* background-color: violet; */
    width: 30%;

}


.header-text-sub-p{
    font-size: 24px;
    line-height: 1px;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.544);
    font-weight: 500;
}
.header-text-h1{
    font-size: 40px;
    font-family: latio;
}
.header-text-p{
    width: 700px;
}
.header-text-p.active_{
    width: 700px;
}





.reveal{
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: .2s all ease;

  }
  .reveal.active_{
    transform: translateY(0);
    opacity: 1;
    transition: 1s all ease;
  }  